name: Build Binaries

on:
  push:
    branches: [main, master]
    paths:
      - "falco-lsp/**"
      - ".github/workflows/build.yml"
  pull_request:
    branches: [main, master]
    paths:
      - "falco-lsp/**"
      - ".github/workflows/build.yml"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          cache: true
          cache-dependency-path: falco-lsp/go.sum

      - name: Build all platform binaries
        working-directory: ./falco-lsp
        run: make build-all

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: falco-lang-binaries
          path: falco-lsp/build/falco-lang-*
